.left-arrow-button {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 48px;
  background: var(--surfaces-light-grey, #fafafb);
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
}

.left-arrow-button:hover {
  background: var(--surfaces-light-grey-hover, #f0f1f3);
  border: 1px solid transparent;
}
